/* Add a style for the search container */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ede6bf;
    color: #333;
    margin-top: -30px;
    padding: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    background-color: rgb(8, 8, 83);
    text-align: center;
    padding: 20px;
    color: white;
    margin-bottom: -10px;
    border-radius: 10px;
}
